body{
    background-color: rgb(225, 239, 234);
}
.carousel-item{
   height: 100vh;
   min-height: 600px;
}
.carousel-caption{
    bottom: 1rem;
    font-size: 2rem;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 3rem;

}
.carousel-caption p{
    font-size: 1.5rem;
}
.carousel-caption p button{
    font-size: 1.6rem;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.w-100{
    height: 100vh;
}
.card-title{
    font-size: 2rem;
}
.font{
    padding: 3rem;
    font-size: 3rem;
}
.menu-img{
    height: 30vh;
}
.menu-btn{
    width: 30%;
    padding: .5rem;
    justify-content: center;
}
.box{
    height: 70vh;
}
#image{
    width: 80rem;
}
#menu-card{
    font-size: 1.5rem;
}
#menu-card h1{
    font-size: 3.5rem;
    line-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
#menu-card h1 span{
    font-size: 4rem;
}
#menu-card h4{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
#menu-card p{
    line-height: 3rem;
}
#image-card{
    width: 100rem;
}
#card-img{
    height: 40vh;
    width: 50rem;
}
#card-content{
    line-height: 3rem;
}
#card-content h1{
    font-size: 3rem;
    margin-bottom: 3rem;
}



